.container {
    max-width: 120rem;//that the container can decrease
    margin: 8rem auto;
    background-color: var(--color-primary-dark-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
  }